<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Pdf Gen" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto+Slab:wght@400;500;600;700&display=swap", rel: "stylesheet" %>
  
    <%#= wicked_pdf_stylesheet_link_tag "application" %>

    <%= javascript_importmap_tags %>
    <%= yield :head %>
    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
  </head>

  <body>
    <nav>
      <%= link_to root_path, class: "app-logo" do %>
        <%= image_tag "app-logo.svg", class: "logo-svg" %>
      <% end %>
      <ul class="nav-ul">
        <li class="nav-li"><%= link_to "Support", support_path, class: 'nav-links' %></li>
      </ul>
    </nav>
      <%= yield %>
  </body>
</html>
