<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700&family=Roboto+Slab:wght@400;500;600;700&display=swap">
  <%= wicked_pdf_stylesheet_link_tag 'pdf' %>
</head>
<body>
   <% ai = @capability_statement.ai_output.is_a?(String) ? JSON.parse(@capability_statement.ai_output) : @capability_statement.ai_output %>
    <div class="pdf-page">
      <div class="top-border"></div>
      <div class="pdf-container">
        <div class="left-side">
          <div class="company-name-logo">
            <% if @capability_statement.company_logo.attached? %>
              <%#= wicked_pdf_image_tag polymorphic_url(@capability_statement.company_logo), alt: "Logo", style: "width: 40px;" %>
               <%= image_tag "data:image/png;base64,#{Base64.strict_encode64(@capability_statement.company_logo.download)}", style: "height: 60px;" %>
            <% end %>
            <p class="name"><%= @capability_statement.company_name.upcase %></p>
          </div>
          <div class="left-side-header">
            <h1>Capability Statement</h1>
          </div>
          <div class="intro">
            <p><%= ai["introduction"] %></p>
          </div>
          <div class="section">
            <h2>Core Competencies</h2>
            <ul>
              <% Array(ai["core_competencies"]).each do |competency| %>
                <li><p><%= competency %></p></li>
              <% end %>
            </ul>
          </div>
          <div class="section">
            <h2>Differentiators</h2>
            <ul>
              <% Array(ai["differentiators"]).each do |performance| %>
                <li><p><%= performance %></p></li>
              <% end %>
            </ul>
          </div>
        </div>
        <div class="right-side">
          <div class="image-container">
            <%= wicked_pdf_image_tag "pdf1.jpg", alt: "Logo", class: "image" %>
          </div>
          <div class="section">
            <h2>Past Performance</h2>
            <ul>
              <% Array(ai["past_performance"]).each do |performance| %>
                <li><p><%= performance %></p></li>
              <% end %>
            </ul>
          </div>
          <div class="section">
            <h2>Company Snapshot</h2>
            <p>CAGE CODE: <%= @capability_statement.cage_code %></p>
            <p>UIE: <%= @capability_statement.uei %></p>
            <% if @capability_statement.accepts_credit_cards? %>
              <p>Accepts Credit / Purchase Cards</p>
            <% end %>
          </div>
          <div class="section">
            <h2>NAICS Code</h2>
            <% @capability_statement&.naics_codes&.each do |code| %>
              <span class="naics"><%= code %></span>
            <% end %>
          </div>
          <div class="section">
            <h2>Certifications</h2>
            <% @capability_statement.certifications.each do |cert|%>
              <ul>
                <li><p><%= cert %></p></li>
              </ul>
            <% end %>
          </div>
          <div class="section">
            <h2>Contact</h2>
            <p><%= @capability_statement.company_contact["name"] %></p>
            <p>Email: <%= @capability_statement.company_contact["email"] %></p>
            <p>Phone: <%= @capability_statement.company_contact["phone"] %></p>
            <p>Location: <%= @capability_statement.company_contact["city"] %>, <%= @capability_statement.company_contact["state"] %></p>
          </div>
        </div>
      </div>
    </div>
</body>
</html>
